/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1 {
	-webkit-animation: fadeUpAnimation ease 1s;
	animation: fadeUpAnimation ease 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	color: #242424;
	font-family: "Poppins", sans-serif;
	font-size: clamp(3rem, 5vw, 8rem);
	font-weight: 700;
	margin: 0 0 0.2em 0;
	position: relative;
}
.about h2,
.skills h2 {
	font-size: clamp(2rem, 5vw, 6rem);
}
@-webkit-keyframes fadeUpAnimation {
	0% {
		bottom: -50px;
		opacity: 0;
	}
	100% {
		bottom: 0px;
		opacity: 1;
	}
}
@keyframes fadeUpAnimation {
	0% {
		bottom: -50px;
		opacity: 0;
	}
	100% {
		bottom: 0px;
		opacity: 1;
	}
}
h2 {
	color: #242424;
	font-family: "Poppins", sans-serif;
	font-size: clamp(2.4rem, 4vw, 3rem);
	font-weight: 700;
	margin: 0 0 0.4em 0;
}
h3 {
	color: #242424;
	font-family: "Poppins", sans-serif;
	font-size: clamp(1.8rem, 4vw, 2rem);
	font-weight: 700;
	margin: 0 0 0.2em 0;
}
h4 {
	color: #242424;
	font-family: "Poppins", sans-serif;
	font-size: clamp(1.2rem, 4vw, 1.8rem);
	font-weight: 700;
	margin: 0 0 0.4em 0;
}
ul li {
	color: #242424;
	font-family: "Poppins", sans-serif;
	font-size: clamp(1rem, 2vw, 1.2rem);
	font-weight: 400;
	margin: 0 0 1em 0;
}
.project-role {
	color: grey;
	font-family: "Poppins", sans-serif;
	font-size: clamp(1rem, 2vw, 1.2rem);
	font-weight: 700;
	margin: 0 0 1em 0;
	text-transform: uppercase;
}
p {
	color: #242424;
	font-family: "Poppins", sans-serif;
	font-size: clamp(1rem, 2vw, 1.2rem);
	font-weight: 400;
	line-height: 1.3em;
	margin: 0 0 1em 0;
}

header {
	align-items: center;
	display: flex;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	justify-content: space-between;
	margin: 0em;
	padding: 3em 2.5%;
	width: 95%;
	z-index: 10;
}
.change {
	color: white;
	padding: 0 0.2rem;
}
.highlightOne {
	background: peachpuff;
	padding: 0 0.2rem;
}
.highlightTwo {
	background: #dcb5dc;
	padding: 0 0.2rem;
}
.highlightThree {
	background: #92ce92;
	padding: 0 0.2rem;
}
header nav ul {
	display: flex;
	flex-direction: row;
}
header nav ul li {
	margin: 0 0 0 2em;
}
header a {
	color: grey;
	cursor: pointer;
	font-family: "Poppins", sans-serif;
	font-size: 7.5vw;
	font-weight: 700;
	margin: 1em 0 1em 0;
	text-decoration: none;
	transition: all ease-in-out 0.4s;
}
header a:hover {
	color: #242424;
	transition: all ease-in-out 0.4s;
}
section {
	margin: 0 2em;
}
.home-intro,
.about {
	display: flex;
	flex-direction: column;
	margin: 6em 2em 0 2em;
}
.skills {
	background: #242424;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 10em 10%;
}
.skill-wrap {
	display: flex;
	flex: 1;
	flex-direction: inherit;
}
.home .projects .project {
	align-self: flex-start;
}
.skills h2,
.skills h3,
.skills p,
.skills li {
	color: white;
}
.skill-wrap ul {
	margin: 0 0 2em 0;
}
.skill-wrap h3 {
	margin: 0 0 1em 0;
}
.skill-wrap ul li {
	border: solid 1px white;
	border-radius: 40px;
	color: white;
	display: inline-block;
	font-family: "Poppins", sans-serif;
	font-size: clamp(1rem, 2vw, 1.2rem);
	font-weight: 400;
	margin: 0 1em 1em 0;
	padding: 1em 2em;
	text-align: center;
}

@media only screen and (min-width: 992px) {
	.home-intro {
		align-items: center;
		display: flex;
		flex-direction: row;
		margin: 16em auto 4em auto;
		width: 80%;
	}
	.intro-para {
		margin-left: 5%;
	}
	.home-intro h1,
	.home-intro .intro-para {
		flex: 1;
	}
	.about {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		margin: 8em auto 0em 10%;
		padding: 6em 0 6em 30%;
		position: relative;
		width: 50%;
	}
	.about img {
		bottom: 0px;
		left: -8em;
		position: absolute;
		width: 48%;
	}
	.skills {
		display: flex;
		flex-direction: column;
		margin: 0em auto 6em auto;
		padding: 14em 10%;
		width: 80%;
	}
}

.back-to-work {
	border-bottom: 5px solid #242424;
	border-top: 5px solid #242424;
	margin: 4em 0;
	padding: 2em 0;
	text-align: center;
}
.back-to-work a {
	color: #242424;
	color: grey;
	cursor: pointer;
	font-family: "Poppins", sans-serif;
	font-size: clamp(1.8rem, 4vw, 2rem);
	font-weight: 700;
	margin: 0 0 1em 0;
	text-decoration: none;
	text-decoration: none;
	transition: all ease-in-out 0.4s;
}
.back-to-work a:hover {
	color: #242424;
	transition: all ease-in-out 0.4s;
}

.projects {
	display: flex;
	flex-direction: column;
	margin-top: 6em;
}
.project {
	margin-top: 6em;
}
@media only screen and (min-width: 1500px) {
	.project {
		margin-top: 2em;
	}
}
.projects .project {
	background: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 30px;
	margin: 0 0 2em 0;
	transition: all ease-in-out 0.4s;
}
.projects .project:hover {
	background: #242424;
	transition: all ease-in-out 0.4s;
}
.projects .project:hover p,
.projects .project:hover h2,
.projects .project:hover h3 {
	color: #242424;
	transition: all ease-in-out 0.4s;
}
.projects .project:hover p,
.projects .project:hover h2,
.projects .project:hover h3 {
	color: #fff;
	transition: all ease-in-out 0.4s;
}
.project-wrap .project {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin-top: 2em;
	width: 100%;
}
@media only screen and (min-width: 820px) {
	.project-wrap .project {
		align-items: center;
	}
}
.projects a {
	text-decoration: none;
}
.project img {
	width: 100%;
}
.project-intro-copy {
	padding: 3.5em 2.5em;
}
.project-intro-copy p {
	margin: 0;
}
.project-wrap {
	display: flex;
	justify-content: center;
	justify-content: center;
}
@media only screen and (min-width: 992px) {
	.projects {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 16em auto 0 auto;
		width: 80%;
	}
	.project {
		width: 48%;
	}
	.project-wrap {
		margin: 0 8em;
	}
	.project img {
		width: 100%;
	}
}

@media only screen and (min-width: 820px) {
	.project img {
		width: 80%;
	}
}
.projects .project img {
	width: 100%;
}
.laptop-img {
	-webkit-animation: fadeInAnimation ease 1s;
	animation: fadeInAnimation ease 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	display: block;
	margin: 6em auto 0 auto;
	max-width: 1000px;
	width: 100% !important;
}
@-webkit-keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.project-requirements {
	display: flex;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 4em 0 4em 0;
}
@media only screen and (min-width: 820px) {
	.project-requirements {
		margin: 4em 0 8em 0;
	}
}
@media only screen and (min-width: 1500px) {
	.project-requirements {
		margin: 6em 0 8em 0;
	}
}
.project-intro {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 2em 0 0 0;
	text-align: left;
}
@media only screen and (min-width: 820px) {
	.project-intro {
		align-items: flex-start;
		margin: 0;
		text-align: left;
	}
}
@media only screen and (min-width: 1500px) {
	.project-intro {
		align-items: flex-start;
		margin: 0;
		text-align: left;
	}
}
@media only screen and (max-width: 992px) {
	.project-intro ul li {
		display: inline-block;
		font-family: "Poppins", sans-serif;
		font-weight: 400;
		margin: 0 1em 1em 0em;
	}
}
@media only screen and (min-width: 820px) {
	.project-requirements {
		flex-direction: row;
		text-align: left;
		width: 100%;
	}
	.project-requirements .intro {
		border-left: 5px #242424 solid;
		margin-right: 3em;
		padding-left: 2em;
		width: 60%;
	}
	.project-intro {
		border-left: 5px #242424 solid;
		padding-left: 2em;
		width: 30%;
	}
	.full-site {
		box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 30px;
	}
}
@media only screen and (min-width: 1024px) {
	.project-requirements {
		flex-direction: row;
		width: 100%;
	}
	.project-requirements .intro {
		border-left: 5px #242424 solid;
		padding-left: 2em;
		width: 70%;
	}
	.project-intro {
		border-left: 5px #242424 solid;
		padding-left: 2em;
		width: 25%;
	}
	.full-site {
		box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 30px;
	}
}
@media only screen and (min-width: 1500px) {
	.project-requirements {
		width: 80%;
	}
}
section.mockup-img-wrap {
	margin: 0 0 4em 0;
	overflow: hidden;
	width: 100%;
}

.mockup-img {
	left: -25%;
	position: relative;
	width: 150%;
}
@media only screen and (min-width: 820px) {
	.mockup-img {
		left: 0%;
		width: 100%;
	}
}

.fentimansBg {
	background: rgb(255, 193, 0);
	background: linear-gradient(180deg, rgba(255, 193, 0, 1) 0%, rgba(228, 232, 209, 1) 0%, rgba(202, 234, 236, 1) 49%, rgba(211, 219, 204, 1) 100%);
}
footer .social {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: clamp(1.4rem, 2vw, 1.2rem);
	justify-content: center;
	padding: 2em;
}
@media only screen and (min-width: 820px) {
	footer .social {
		flex-direction: row;
	}
}
footer .social a {
	color: grey;
	cursor: pointer;
	font-family: "Poppins", sans-serif;
	font-size: clamp(1.4rem, 2vw, 1.2rem);
	font-weight: 700;
	padding: 1em;
	text-decoration: none;
	transition: all ease-in-out 0.4s;
}
footer .social a:hover {
	color: #242424;
	transition: all ease-in-out 0.4s;
}
footer h3 {
	font-size: 15vw;
	margin: 1em auto 0 auto;
	text-align: center;
}
.copyright {
	display: flex;
	justify-content: center;
	padding: 1em;
}
.copyright p {
	color: grey;
	font-family: "Poppins", sans-serif;
	font-size: clamp(1rem, 2vw, 1.2rem);
	font-weight: 700;
	text-align: center;
}

.owl-carousel {
	overflow: hidden;
}

.mobile {
	display: block;
}
.desk {
	display: none;
}
@media only screen and (min-width: 820px) {
	.mobile {
		display: none;
	}
	.desk {
		display: block;
	}
}
